.ticker__arrow-up {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid green;
    position: absolute;
    left: 100%;
    top: 33%;
    display: none;
}

.ticker__arrow-down {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid red;
    position: absolute;
    left: 100%;
    top: 33%;
    display: none;
}

.ticker__container {
    width: 100%;
    padding: 3rem;
    display: flex;
}

.ticker__column {
    flex: 1;
    position: relative;
    padding: 15px 10px
}

p {
    font-family: "Lucida Console", Monaco, monospace;
}
